.container {
    position: relative;
}
.inputContainer {
    display: inline-block;
    position: relative;
}

.input.filled + .clear {
    right: 0;
    display: block;
    opacity: 1;
}
.controls {
    position: absolute;
    right: 0;
    padding: 3px;
}
.btn, .input {
    transition: all .3s;
    outline: none;
    text-align: center;
    border: none;
    margin: 2px;
    padding: 0 8px;
    line-height: 24px;
    background: transparent;
    border-radius: 5px;
    color: #fff;
}
.clear {
    position: absolute;
    right: -12px;
    opacity: 0;
    top: 0;
    transition: all .3s;
}
.btn {
    cursor: pointer;
}
.expand, .collapse {
    width: 24px;
}
.expand {
    color: #000;
    box-shadow: inset 0 0 0 1px #000;
}
.btn:hover, .btn:focus, .btn:active, .input:focus, .input:active, .input:hover, .input.filled {
    box-shadow: inset 0 0 8px #000000;
}
.input {
    text-align: left;
}

.code {
    margin: 0;
    background: #252526;
    color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 0.5rem;
    padding-top: 1.5rem;
    overflow: auto;
    min-height: 3rem;
}
.number, .boolean {
    position: relative;
    margin-left: -8px;
    margin-right: -8px;
    background: #252526;
    z-index: 1;
}
.string {
    color: #4df277;
}
.number {
    color: #d572c1;
}
.boolean {
    color: orange;
}
